<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>meu site</h1>
    </header>
    <nav>
        londres <br>
        paris <br>
        toquio <br>
    </nav>
    <section>
        <h1>londres</h1>
        <p>londres é_</p>
        <p>o rio tamisa é</p>
    </section>
    <footer>
        copyright
    </footer>
</body>
</html>